{% extends "base.html" %}
hey
{% block body %}
    <h4>welcome  {{request.session.username}}!!<h4>
    <form action="/loginmodule/logout" method="POST">{% csrf_token %}
      <button type="submit" value="logout">Logout</button>
    </form>
    <br/>
    {% if message %}
      {% for d in message %}
          program {{ d  }}
          <form action="/keepcodeapp/upload_file/?id={{d}}" method="POST" enctype = "multipart/form-data">{% csrf_token %}
            <input type="file" name="codefile" id="codefile" />
            <button type = "submit">upload</button>
            <br/>
          </form>
          {% if d in visited %}
          <a href="/static/UserSubmissions/{{request.session.username}}_program{{d}}.c">check your previous solution</a>
          {% endif %}
          <br/>
          input file :
          {% if d in inputfile %}
           <a href = "/static/InputFiles/input_program{{d}}.txt">inputfile</a> <br/>
          {% endif %}
          {% ifequal request.session.username request.session.superuser %}
            <form action="/keepcodeapp/upload_input/?id={{d}}" method="POST" enctype = "multipart/form-data">{% csrf_token %}
              <input type="file" name="inputfile" id="inputfile" />
              <button type = "submit">upload input file</button>
              <br/>
            </form>
          {% endifequal %}
          <br/>
          output file :
          {% if d in outputfile %}
           <a href = "/static/OutputFiles/output_program{{d}}.txt">outputfile</a> <br/>
           {% endif %}
          {% ifequal request.session.username request.session.superuser %}
            <form action="/keepcodeapp/upload_output/?id={{d}}" method="POST" enctype = "multipart/form-data">{% csrf_token %}
              <input type="file" name="outputfile" id="outputfile" />
              <button type = "submit">upload output file</button>
              <br/>
            </form>
          {% endifequal %}
          <br/>
          <br/>
      {% endfor %}
    {% endif %}

{% endblock %}
