
{% extends "base.html" %}
{% block body %}
    <script>
    $(document).ready(function(){
    $('.modal').modal();
  });
</script>

    <nav>
		<div class="nav-wrapper tomato">
			 <a href="#" class="brand-logo">Welcome {{ request.user.username }}</a>
			<ul id="nav-mobile" class="right">
                {% if request.user.is_superuser %}
                    <li><a href="/keepcodeapp/adduser" class="waves-effect waves-light">Add User</a> </li>
                {% endif %}
				<li><a href="/loginmodule/logout" class="waves-effect waves-light ">Logout</a></li>

			</ul>
		</div>
	</nav>
    {% if message_of_size  %}
        <h4>{{ message_of_size}}</h4>
    {% endif %}
    <h1 class="center">Select Program</h1>


    {% if message %}
        <div class="container row">
            {% for d in message%}
                <a class="modal-trigger" href="#modal{{d}}"><div class="center col s2 m2 l2 text-center red white-text" style="padding: 10px; border: solid white;">{{ d  }}</div></a>
            {% endfor%}
        </div>


      {% for d in message %}
            <div id="modal{{d}}" class="modal">
            <div class="modal-container container">
                <br><h4 class="center">Program {{d}}</h4>
              <form action="/keepcodeapp/upload_file/?id={{d}}" method="POST" enctype = "multipart/form-data">{% csrf_token %}
                <div class="row">
                  <div class="file-field input-field col s8 m8 l8">
                      <div class="row">
                          <div class="btn grey col s6 m6 l6">
                            <span>Select Code File</span>
                            <input type="file"  name="codefile" id="codefile" required>
                          </div>
                          <div class="file-path-wrapper col s6 m6 l6">
                            <input class="file-path validate" type="text">
                          </div>
                      </div>
                  </div>
                   <button type = "submit" class="btn blue-grey col s4 m4 l4">upload Code file</button>
                </div>
              </form>
                <div class="divider black"></div>
              {% ifequal request.session.username request.session.superuser %}
                <form action="/keepcodeapp/upload_input/?id={{d}}" method="POST" enctype = "multipart/form-data">{% csrf_token %}
                  <div class="row">
                    <div class="file-field input-field col s8 m8 l8">
                        <div class="row">
                              <div class="btn grey col s6 m6 l6">
                                <span>Select Input File</span>
                                <input type="file"  name="inputfile" id="inputfile" required>
                              </div>
                              <div class="file-path-wrapper col s6 m6 l6">
                                <input class="file-path validate" type="text">
                              </div>
                        </div>
                    </div>
                         <button type = "submit" class="btn blue-grey col s4 m4 l4">upload input file</button>
                  </div>
                </form>
              {% endifequal %}

              {% ifequal request.session.username request.session.superuser %}
                  <div class="divider black"></div>
                    <form action="/keepcodeapp/upload_output/?id={{d}}" method="POST" enctype = "multipart/form-data">{% csrf_token %}
                        <div class="row">
                          <div class="file-field input-field col s8 m8 l8 ">
                              <div class="row">
                                  <div class="btn grey col s6 m6 l6">
                                    <span>Select Output File</span>
                                    <input type="file"  name="outputfile" id="outputfile" required>
                                  </div>
                                  <div class="file-path-wrapper col s6 m6 l6">
                                    <input class="file-path validate" type="text">
                                  </div>
                              </div>
                          </div>
                          <button type = "submit" class="btn blue-grey col s4 m4 l4">upload output file</button>
                        </div>
                    </form>

              {% endifequal %}
                <div class="divider black"></div>
                <div class="row">
                    {% if d in inputfile %}
                        <a class="col s4 m4 l4 btn-flat" href = "/keepcodeapp/static/InputFiles/input_program{{d}}.txt" download>Inputfile</a>
                    {% endif %}
                    {% if d in outputfile %}
                        <a class="col s4 m4 l4 btn-flat" href = "/keepcodeapp/static/OutputFiles/output_program{{d}}.txt" download>Outputfile</a>
                    {% endif %}
                    {% if d in visited %}
                        <a class="col s4 m4 l4 btn-flat" href="/keepcodeapp/static/UserSubmissions/{{request.session.username}}_program{{d}}.c" download>Previous Solution</a>
                    {% endif %}
                </div>

            </div>
            </div>
      {% endfor %}
    {% endif %}
{% endblock %}
