<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>demo!</title>
  </head>
  <body>
    <h1>Hello {{request.session.username}}</h1>
    {% if message %}
      {% for d in message %}
          program {{ d  }}
          <form action="/keepcodeapp/upload_file/?id={{d}}" method="POST" enctype = "multipart/form-data">{% csrf_token %}
            <input type="file" name="codefile" id="codefile" />
            <button type = "submit">upload</button>
            <br/>
          </form>
          {% if d in visited %}
          <a href="/static/{{request.session.username}}_program{{d}}.c">click</a>
          {% endif %}
          <br/>
          <br/>
      {% endfor %}
    {% endif %}
  </body>
  <form action="/loginmodule/logout" method="POST">{% csrf_token %}
    <button type="submit" value="logout">Logout</button>
  </form>
</html>
